* {
    margin: 0;
    padding: 0;
    font-family: Montserrat;
}

body {
    background: var(--el-bg-color-page);
    transition: background-color .2s !important;
}

html.dark {
    --logo-color:white;
}

html {
    --logo-color:black;
}